{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
<meta charset="utf-8">

<title>{% trans "Example Quiz Website" %} | {% block title %}{% endblock %}</title>
<meta name="description" content="{% block description %}{% endblock %}">

<!-- styles -->
<link rel="stylesheet" href={% static "bootstrap.min.css"%}>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="{% static "html5.js" %}"></script>
<![endif]-->

</head>

<body>

{% if user.is_authenticated %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a href="{% url "quiz_index" %}"><button class="btn navbar-btn">Тесты</button></a>
        <a href="{% url "quiz_progress" %}"><button class="btn navbar-btn">Прогресс</button></a>
        {% if user.is_superuser %}
            <a href="{% url "quiz_marking" %}"><button class="btn navbar-btn">Результаты</button></a>
        {% endif %}
        <a href="{% url "logout-then-login"  %}"><button class="btn navbar-btn navbar-right">Выход</button></a>
    </div>
</nav>
{% endif %}
<!-- Before the quiz content -->

<div class="container">

{% block content %}

{% endblock %}

</div>

<!-- After the quiz content -->


</body>
</html>
