{% extends "base.html" %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}

<div class="container">


{% if previous %}
	
        <p class="muted"><small>The previous question:</small></p> 
        <p>{{ previous.previous_question }}</p>
        
        {% ifequal previous.previous_outcome 'correct' %}
			<div class="alert alert-success">
		{% else %}
			<div class="alert alert-error">
		{% endifequal %}

		    	<p><small>Your answer was </small><em>{{ previous.previous_answer }}</em><small> which is </small><strong>{{ previous.previous_outcome }}</strong></p>
		    </div>
		    
			{% correct_answer previous %}
		    <p><strong>Explanation:</strong></p>
		    <div class="well " style="background-color: #fcf8e3;">
		     	<p>{{ previous.previous_question.explanation }}</p>
		    </div>
		        
		    
<hr>
	
{% endif %}<br />


{% if question %}

    	<p><small class="muted">Question category:</small> <strong>{{ question.category }}</strong></p>
        <p class="lead">{{ question.content }}</p>
		{% answers_for_question question quiz %}
		
{% endif %}
    
    <hr>
    


</div>

{% endblock %}
